/*18:32*/
/* Общие стили */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 20px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Основной контент */
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "video list";
  gap: 30px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

/* Левая колонка (видео) */
.result {
  margin-top: 78px;
  grid-area: video;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  width: 710px;
  height: 387px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Правая колонка (список) */
.content__details {
  grid-area: list;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Заголовок */

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

/* Контейнер списка */
.content__list-container {
  height: 295px;
  overflow-y: auto;
  position: relative;
}

/* Список элементов */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 0px;
  position: relative;
}

/* Карточки видео */
.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  overflow: hidden;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.content__video-card-thumbnail {
  width: 198px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

/* Форма поиска */
.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom:5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
  gap:5px;
}

.search-form__textfield {
  background: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  width: 12.5em;
  appearance: none;
  padding: 2px 0;
}

.search-form__textfield:focus {
  outline: 0;
 }

.search-form__checkbox-list {
  display: flex;
  cursor: pointer;
  gap:15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  inset: 1px;
  background: #fff;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  align-self: flex-end;
  font-family: 'Fira Sans Condensed', sans-serif;
}

/* Кнопки */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight:700;
}

.button:focus {
  outline: none;
}

.more-button {
  width: 100%;
  padding: 6px 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  margin-top:30px;
}

/* Состояния */
.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

button:active,
.content__card-link:active .content__video-card {
  background-color: #545050;
}

.search-form__submit-button:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 1px #fff,
    0 0 0 2px #000,
    0 0 0 3px #fff;
  z-index: 1;
}

.content__card-link:focus-visible::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 2px solid #fff;
  pointer-events: none;
  z-index: 2;
}

.search-form__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Скроллбар */
.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.content__list-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Вспомогательные классы */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

